.dtable-plugin.plugin-timeline {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  min-height: 0;
  background-color: #fff;
  border-radius: 12px 12px 0 0;
  box-shadow: 0 -1px 12px rgba(0, 0, 0, 0.3);
}

/* plugin-header */
.plugin-timeline .plugin-header {
  display: flex;
  align-items: center;
  height: 48px;
  padding: 0 16px;
  background-color: #fff;
  border-bottom: 1px solid #e7eaec;
  border-radius: 12px 12px 0 0;
}

.plugin-timeline .plugin-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 80px 0 0;
}

.plugin-timeline .plugin-logo .plugin-logo-icon {
  width: 20px;
  height: 20px;
  margin-right: 4px;
}

.plugin-timeline .plugin-header .timeline-operators {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex: 1;
  align-items: center;
}

.plugin-timeline .plugin-header .timeline-operator,
.plugin-timeline .btn-close {
  display: inline-block;
  width: 24px;
  height: 24px;
  color: #000;
  opacity: .5;
  text-align: center;
  cursor: pointer;
}

.plugin-timeline .plugin-header .timeline-operator:hover {
  opacity: .75;
}

.plugin-timeline .plugin-header .btn-export-image,
.plugin-timeline .plugin-header .btn-settings {
  margin-right: .25rem;
}

.plugin-timeline .btn-close {
  font-weight: 700;
}
